/* Styles for the ImageForm React component */

.image-form {
  justify-content: center;
}

.image-form .MuiGrid-root {
  text-align: center;
}

.MuiButton-root.image-form__submit-button {
  background-color: #457474;
}

.image-form__button-grid {
  line-height: 5;
}

.image-form__message--success {
  color: green;
}

.image-form__message--error {
  color: red;
}
